<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form border rounded p-4 bg-white">
        <div class="row form__header">
            <h2 class="text-center">Iniciar Sesión</h2>
            <p class="text-center">Ingresa tus credenciales para acceder</p>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="username" class="form-label">Correo Electrónico</label>
                <input type="text" id="username" class="form-control" formControlName="username">
                <div *ngIf="false" class="form-text">Este campo es obligatorio.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <div *ngIf="false" class="form-text">Este campo es obligatorio.</div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <input type="submit" [disabled]="!loginForm.valid" value="Iniciar Sesión" class="btn btn-dark w-100">
            </div>
        </div>
        <div class="row form__opts">
            <div class="col">
                <p class="text-center text-primary mb-1"><a routerLink="/forget-password" class="">¿Olvidaste tu contraseña?</a></p>
                <p class="text-center">¿Ya tienes cuenta?<a routerLink="/register" class="text-primary"> Registro</a></p>
            </div>
        </div>
    </form>
</div>