<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form border rounded p-4 bg-white">
        <div class="row form__header">
            <h2 class="text-center">Iniciar Sesión</h2>
            <p class="text-center">Ingresa tus credenciales para acceder</p>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="username" class="form-label">Correo Electrónico</label>
                <input type="email" id="username" class="form-control" formControlName="username" placeholder="example@email.com" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col position-relative">
                <label for="password" class="form-label">Contraseña</label>
                <input [type]="isShowPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password" placeholder="****" required>
                <mat-icon *ngIf="isShowPassword" (click)="switchPassword()" class="position-absolute icon--input" aria-label="Hide password" fontIcon="visibility_off" role="button"></mat-icon>
                <mat-icon *ngIf="!isShowPassword" (click)="switchPassword()" class="position-absolute icon--input" aria-label="Show password" fontIcon="visibility" role="button"></mat-icon>
            </div>
        </div>
        <div *ngIf="isError" class="form-text text-center text-danger mb-2">Ha ocurrido un error en el formulario.</div>
        <div class="row mb-4">
            <div class="col">
                <input type="submit" [disabled]="!loginForm.valid" value="Iniciar Sesión" class="btn btn-dark w-100">
            </div>
        </div>
        <div class="row form__opts">
            <div class="col">
                <p class="text-center text-primary mb-1"><a routerLink="/forget-password" title="Restablecer mi contraseña" aria-label="Enlace para restablecer tu contraseña">¿Olvidaste tu contraseña?</a></p>
                <p class="text-center">¿Ya tienes cuenta?<a routerLink="/register" title="Crear una cuenta" aria-label="Enlace para registrarte"> Registro</a></p>
            </div>
        </div>
    </form>
</div>